.page-border{
	position:fixed;
	border:solid 1px #FFF;
	border-color:rgba(255,255,255,.4);
}

/* Border Style */
.border-top,
.border-bottom{
	height:8px;
	left:12px;
	right:12px;
}
.border-top{
	top:12px;
}
.border-bottom{
	bottom:12px;
}
.border-left,
.border-right{
	width:8px;
	top:12px;
	bottom:12px;
}
.border-right{
	right:12px;
}
.border-left{
	left:12px;
}