.home {
    position: absolute;
}

.home > .home-text > h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.home > .home-text > p {
    font-family: 'Lora', serif;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 2px;
}

.home > .home-text > .home-btns {
    margin-top: 45px;
}