.menu-btn{
	font-size:0;
	display:block;
	position:fixed;
	top:20px;
	right:20px;
	padding:16px;
	z-index: 5;
}

.menu-btn:hover .lines > span {
	opacity: .5;
}

.menu-btn > .lines{
	display:block;
	width:32px;
}

.menu-btn > .lines > span{
	display:block;
	width:100%;
	height:3px;
	background:#FFF;
	transition:background .1s;
}

body.border-dark .menu-btn > .lines > span{
	background:#3B451B;
}

.menu-btn > .lines > .l2{
	margin:6px 0;
}